.clock {
    min-width: 150px;
    width: 150px; 
    height: 150px;  
    margin: 20px;
    text-align: center;
    vertical-align: center;
    background-color: lightblue;
    border-radius: 50%;
    position: relative; 
    font-size: .6rem;
    color: yellow;
}

.mark {
    top: 50%;
    left: 50%;
    position: absolute;
}

.center {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
}
 
 
.hour {
    position: absolute; 
    top: 50%;
    left: 50%;
    height: 3px;
    width: 40%;
    text-align: center;
    transform-origin: left;  
    border-radius: 50%; 
    color: yellow;
    font-weight: 500;
}

.minute {
    position: absolute; 
    top: 50%;
    left: 50%;
    height: 2px;
    width: 40%;
    text-align: center;
    transform-origin: left;  
    border-radius: 50%;
    color: yellow;
    font-weight: 400;
}

.second {
    position: absolute;  
    top: 50%;
    left: 50%;
    height: 1px;
    width: 40%;
    text-align: center;
    transform-origin: left;  
    color: green;
    border-radius: 50%; 
    font-weight: 200;
}

.three {
    position: absolute; 
    top: 50%; 
    left: 100%;
    transform: translate(-10px, -5px);
}

.nine {
    position: absolute; 
    top: 50%; 
    left: 0;
    transform: translate(5px, -5px);
}

.six {
    position: absolute; 
    bottom: 0; 
    left: 50%;
    transform: translateX(-5px);
}