 
main {
  padding: 1rem 2.5rem; 
  height: 100vh;
}
  
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --input-color: white;
    --input-active-color: rgb(219, 246, 255);
    --border-color: lightgray;
    font-size: 16px;  
}

.thankyou {
    background-image: url("hands-background.png");
    background-size: cover; 
    background-repeat: no-repeat;
}

@media (max-width: 480px) {
    body {
        font-size: 20px;
        max-width: fit-content;
    }  
}

.form-control {
    display: block;
    padding: 10px 0 6px 0;
}

.form-control.radio {
    display: inline; 
} 

.form-control.note {
    padding-top: 20px; 
} 


.form-control label {
    padding-right: 6px; 
    padding-bottom: 2px;
    display: block;
}  

.form-control label.radio-label {
    padding-right: 6px;
    padding-left: 6px;
    display: inline;
} 

 
textarea { 
    width: min(350px, 80vw); 
    height: 40px;
}

button,
input[type='radio'] {
    background-color: var(--input-color);
}

button {
    width: 180px; 
    height: 50px;
    font-size: 24px; 
    font-weight: bold;
    border-radius: 2px;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: dashed;
}

input,
select,
option {
    background-color: var(--input-color);
}

input:focus {
    background-color: var(--input-active-color);
}

select:focus {
    background-color: var(--input-active-color);
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--input-color);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid var(--border-color);
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgb(118, 217, 250);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid var(--border-color);
}

button:focus:not(:disabled)    {
    background-color: var(--input-active-color);
}

button:hover {
    background-color: var(--input-active-color);
} 

.form-error {
    font-weight: bold;
    color: red;
} 
